/* ==== Resets ==== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ==== Font Family ==== */
@font-face {
    font-family: "IranYekanX-Regular";
    src: url("../fonts/IRANYekanX-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "IranYekanX-Medium";
    src: url("../fonts/IRANYekanX-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "IranYekanX-Bold";
    src: url("../fonts/IRANYekanX-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "IranYekanX-Heavy";
    src: url("../fonts/IRANYekanX-Heavy.ttf") format("truetype");
}

/* ==== App Css ==== */
body {
    font-family: "IranYekanX-Regular";
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.5);
    color: #1D2939;
}

.icon-pack {
    display: none;
}

svg {
    width: 24px;
    height: 24px;
}

.container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}

.ss02 {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

/* ==== Start ==== */
.header {
    background: #FFFFFF;
    height: 80px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.wrapper__right {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 48px;
    height: 48px;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 38px;
    gap: 24px;
}

.menu__item {
    height: 80px;
}

.menu__link {
    text-decoration: none;
    font-family: "IranYekanX-Medium";
    color: inherit;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: color ease-in 100ms;
    height: 100%;
}

.menu__link svg {
    transition: transform ease-in 100ms;
}

.menu__link-icon {
    width: 14px;
    height: 14px;
}

.menu__item:hover .menu__link {
    color: #FF74D8;
}

.menu__item:hover .menu__link svg {
    transform: rotate(180deg);
}

.menu__item:hover>.submenu {
    opacity: 1;
    visibility: visible;
}

.submenu {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    padding: 20px;
    border-radius: 0 0 16px 16px;
    background-color: #FFFFFF;
    height: 374px;
    display: flex;
    gap: 20px;
    box-shadow: 0px 20px 50px 0px #0000000F inset;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in 100ms;
}

.submenu__wrapper {
    display: flex;
    gap: 40px;
    width: 100%;
}

.submenu__col {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1 0;
}

.submenu__row {
    position: relative;
    height: 100%;
}

.submenu__row--first::after,
.submenu__row--last::after,
.submenu__row--first::before,
.submenu__row--last::before {
    content: "";
    position: absolute;
}

.submenu__row--first::after,
.submenu__row--last::after {
    top: 0;
    bottom: 0;
    width: 1px;
    background-image: linear-gradient(#E5E5E5 50%, #FFFFFF 50%);
    background-size: 1px 14px;
    background-repeat: repeat-y;
}

.submenu__row--first::before,
.submenu__row--last::before {
    right: 0;
    left: 0;
    height: 1px;
    background-image: linear-gradient(to right, #E5E5E5 50%, #FFFFFF 50%);
    background-size: 14px 1px;
    background-repeat: repeat-x;
    background-position: right;
}

.submenu__row--first::after {
    left: -20px;
}

.submenu__row--first::before {
    bottom: -20px;
}

.submenu__row--last::after {
    right: -20px;
}

.submenu__row--last::before {
    top: -20px;
}

.submenu__head {
    display: flex;
    align-items: center;
    gap: 6px;
}

.submenu__section-icon {
    width: 32px;
    height: 32px;
}

.submenu__section-title {
    font-family: "IranYekanX-Bold";
}

.submenu__links {
    margin-top: 16px;
    font-family: "IranYekanX-Medium";
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    column-gap: 12px;
}

.submenu__link {
    text-decoration: none;
    font-size: 14px;
    color: #667085;
    transition: color ease-in 100ms;
}

.submenu__link:hover {
    color: #FF74D8;
}

.submenu__img {
    border-radius: 14px;

}

.wrapper__left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #1D2939;
    border: 1px solid #E5E5E5;
    width: 48px;
    height: 48px;
    border-radius: 10px;
}

.header-item__icon {}

.header-item__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -4px;
    right: -4px;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    background-color: #FF74D8;
    font-family: "IranYekanX-Medium";
    font-size: 10px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.header-login {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px 16px;
    border-radius: 10px;
    background-color: #7F56D9;
    color: #FFFFFF;
    font-family: "IranYekanX-Medium";
    text-decoration: none;
}

.header-login__icon {}

/* ==== Header ==== */


@media (min-width: 576px) {}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 992px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1216px;
        width: 100%;
    }
}